extends ../layouts/main.pug
block content
  .container
    header
      h1= title

    div
      table.table.table-striped
        thead
          tr
            th First Name
            th Last Name
            th Status
        
        tbody
          each student in students
            tr
              td
                a(href=`/student/${student.id}`)= student.firstname
              td= student.lastname
              td= student.status
              td
                a(href=`/student/${student.id}/edit`) edit
                 = ` | `
                form.destroy(action=`/student/destroy`, method="POST")
                  input(type="hidden", name="student[id]", value=student.id)
                  input.destroy(type="submit", value="delete")